        body {
            margin: 0px;
            padding: 0
        }

        #div1 {
            display: none;
            position: absolute;
            z-index: 1000;
            height: 100%;
            width: 100%;
            background: #000000;
            filter: Alpha(opacity=30);
        }

        #div2 {
            display: none;
            position: absolute;
            height: 100%;
            width: 100%;
            padding-top: 10%;
            z-index: 1001;
            left: 0px;
            top: 0px;
        }